<% if (theme.valine.enable ){ %>
    <!-- 暂时写在这里引入，之后放在全局 -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Valine Comments -->
    <div class="comments vcomment" id="comments"></div>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="//unpkg.com/valine@latest/dist/Valine.min.js"></script>
    <!-- Valine Comments script -->
    <script>
        var GUEST_INFO = ['nick','mail','link'];
        var guest_info = '<%= theme.valine.guest_info %>'.split(',').filter(function(item){
          return GUEST_INFO.indexOf(item) > -1
        });
        new Valine({
            el: '#comments',
            notify: '<%= theme.valine.notify %>' == 'true',
            verify: '<%= theme.valine.verify %>' == 'true',
            appId: "<%= theme.valine.appId %>",
            appKey: "<%= theme.valine.appKey %>",
            avatar: "<%= theme.valine.avatar %>",
            placeholder: "<%= theme.valine.placeholder %>",
            guest_info: guest_info.length == 0 ? GUEST_INFO : guest_info,
            pageSize: "<%= theme.valine.pageSize %>"
        })
        window.onload = function () {
            $(".vhead").each(function (i,v) {
                //浏览器图标
                if($(this).find(".vsys").eq(0).text().toUpperCase().includes('CHROME')){
                    $(this).find(".vsys").eq(0).prepend('<img src="../../../../img/chrome.svg"/>');
                }else if($(this).find(".vsys").eq(0).text().toUpperCase().includes('UC')){
                    $(this).find(".vsys").eq(0).prepend('<img src="../../../../img/UC浏览器.svg"/>');
                }else if($(this).find(".vsys").eq(0).text().toUpperCase().includes('OPERA')){
                    $(this).find(".vsys").eq(0).prepend('<img src="../../../../img/opera.svg"/>');
                }
                //系统图标
                if($(this).find(".vsys").eq(1).text().toUpperCase().includes('WINDOWS')){
                    $(this).find(".vsys").eq(1).prepend('<img src="../../../../img/windows.svg"/>');
                }else if($(this).find(".vsys").eq(1).text().toUpperCase().includes('APPLE')){
                    $(this).find(".vsys").eq(1).prepend('<img src="../../../../img/apple.svg"/>');
                }else if($(this).find(".vsys").eq(1).text().toUpperCase().includes('LINUX')){
                    $(this).find(".vsys").eq(1).prepend('<img src="../../../../img/linux.svg"/>');
                }
            })
        }
    </script>
    <!-- Valine Comments end -->
<% } %>
